.d-flex {
    display: flex;
}

.btn-primary {
    background-color: navy;
    border-color: navy;
}

.btn-primary:hover {
    background-color: #001f3f;
    border-color: #001f3f;
    color:whitesmoke
}

.btn-logout {
    float: right;
    padding: 10px;
    margin: 5px;
}

.btn-info {
    padding: 10px;
    margin: 5px;
    color: whitesmoke
}


.content-container {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    margin-left: 120px;
}

.btn-margin {
    margin-right: 5px
}

.btn-margin-profile {
    margin: 5px;
}

.wide-input {
    width: 100%;
    resize: vertical;
}