.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-container {
    height: 100%;
    overflow-y: auto;
    min-height: 100vh;
}

.card {
    height: 100%;
}

.card-body {
    overflow: hidden;
}

.spoonacularCard {
    padding: 10px;
    border-radius: 10px;
}