.d-flex {
    display: flex;
}

.card {
    border: 3px solid lightblue;
    border-radius: 10px;
    transition: transform 0.3s ease;
    height: 225px;
    background-color: white;
    width: 500px;
    width: 100%;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 20px;
}

.card-title {
    color: navy;
    margin-bottom: 10px;
    font-size: 2em;
}

.card-text {
    color: navy;
    padding: 10px;
    font-size: 1.2em;
}

.btn-primary {
    background-color: navy;
    border-color: navy;
}

.btn-primary:hover {
    background-color: #001f3f;
    border-color: #001f3f;
}

.content-container {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.card-icon {
    margin-bottom: 5px;
    font-size: 5em;
    color: navy;
    
}



@media (max-width: 750px) {
    .card-img-top {
        height: 250px;
    }

    .card-title {
        font-size: 2em;
    }

    .card-text {
        font-size: 1.2em;
    }
}